* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: hwb(234 70% 5% / 0.87);
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #2da786, #5042a8);
    color: #fff;
    margin: 100px auto 0px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    padding: 10px 25px;
    background-color: rgb(251, 252, 253);
    color: #0a0a0a;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
input:hover{
    border: 3px solid rgb(2, 109, 86);
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 45%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

button:hover{
    border: 1px solid rgb(2, 109, 86);
}

.search button img {
    height: 40px;
}

.weathericon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;

}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}

@media (max-width: 480px) {
    .card {
        margin: 50px auto; 
    }
    .search input {
        padding: 8px 15px; 
    }
    .weathericon {
        width: 120px; 
    }
    
}

